doctype html
html(lang=i18n.lng())
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(name='description', content=t('app:description'))
    meta(name='author', content='https://github.com/jerone')
    title #{title} | #{t('app:title')}
    link(href='/css/styles.css', rel='stylesheet')
    script(src='/js/lib/jquery-2.1.1.min.js')
    script(src='/js/lib/bootstrap.min.js')
    script(src='/js/common.js')
    block scripts
  body
    include _partials/navbar

    .container
      include _partials/flash
      block content

    include _partials/footer

    include _partials/tracking
