extends _layout

block content
  .jumbotron.text-center
    h1(style='font-size:10em') #{code}
    p #{message}
    p
      a.btn.btn-info(href='/')
        span.glyphicon.glyphicon-home
        | #{t('error:back')}
