@import "../vendor/bootstrap/css/bootstrap.min.css";
@import "../vendor/bootstrap/css/bootstrap-theme.min.css";

/*
    Common
*/

html {
    position: relative;
    min-height: 100%;
}

body > .navbar-fixed-top + .container {
    padding-top: 60px;
}

body {
    margin-bottom: 75px;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 45px;
    line-height: 45px;

    p,
    ul {
        margin-bottom: 0;
    }
}

.clearfix2 {
    clear: both;
}

/* A little less space; */
.page-header {
    margin-top: 20px;
}

/* Better visual; */
.g2000n-sum {
    color: #000;
    font-weight: bold;
}



/*
    Forms
*/

/* Also disable group addon when form control is disabled; */
.form-control[disabled] + .input-group-addon {
    background-color: #fff;
    cursor: not-allowed;
}

/* Fix for full width in tables for Chrome; */
td select.form-control {
    width: auto !important;
    min-width: 100% !important;
}

/* Inline form; */
.inline-form {
    display: inline-block;
}

/* Remove spinners from number input for quieter design while keeping numeric keyboard. */
input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
    -webkit-appearance: none;
}



/*
    Icons
*/

/* Some space; */
.glyphicon + span {
    margin-left: 0.5em;
}

/* Button loading; */
.glyphicon-refresh-animate {
    -webkit-animation: spinWebkit .9s infinite linear;
    -moz-animation: spin .9s infinite linear;
    -o-animation: spin .9s infinite linear;
    animation: spin .9s infinite linear;
}

@-moz-keyframes spin {
    from {
        -moz-transform: scale(1) rotate(0deg);
        -ms-transform: scale(1) rotate(0deg);
        -o-transform: scale(1) rotate(0deg);
        -webkit-transform: scale(1) rotate(0deg);
        transform: scale(1) rotate(0deg);
    }

    to {
        -moz-transform: scale(1) rotate(360deg);
        -ms-transform: scale(1) rotate(360deg);
        -o-transform: scale(1) rotate(360deg);
        -webkit-transform: scale(1) rotate(360deg);
        transform: scale(1) rotate(360deg);
    }
}

@-webkit-keyframes spinWebkit {
    from {
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    to {
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes spin {
    from {
        -moz-transform: scale(1) rotate(0deg);
        -ms-transform: scale(1) rotate(0deg);
        -o-transform: scale(1) rotate(0deg);
        -webkit-transform: scale(1) rotate(0deg);
        transform: scale(1) rotate(0deg);
    }

    to {
        -moz-transform: scale(1) rotate(360deg);
        -ms-transform: scale(1) rotate(360deg);
        -o-transform: scale(1) rotate(360deg);
        -webkit-transform: scale(1) rotate(360deg);
        transform: scale(1) rotate(360deg);
    }
}



/*
    Table
*/

/* Used for sorting; */
.table thead th a {
    color: #333;
    text-decoration: underline;

    &:hover {
        color: #428bca;
    }

    span.glyphicon {
        margin-left: 0.3em;
    }
}

/* Vertical center table content; */
.table-v-center {
    > thead > tr > th,
    > tbody > tr > th,
    > tfoot > tr > th,
    > thead > tr > td,
    > tbody > tr > td,
    > tfoot > tr > td {
        vertical-align: middle;
    }
}

/* Floating header background; */
.floatThead-table thead td,
.floatThead-table thead th {
    background-color: #fff;
}

/* Min height; */
.table-row-min-height {
    min-height: 34px;
    position: relative;

    > * {
        bottom: 0px;
        position: absolute;
    }
}
