extends ../_layout

block content
  .page-header
    h3 Rules

  p &nbsp;

  p Gebruik 2 spellen kaarten en gebruik hiervan alleen de kaarten aas t/m 4.

  p Schud deze 2 spellen flink door elkaar.

  p Begin te delen bij de speler links van je. Geef de 1<sup>ste</sup> kaart open en tel daarna blind de kaarten af tot 1 (bijvoorbeeld: de openkaart is een vrouw. Dan leg je de rest van de kaarten blind neer en tel je: boer, 10, 9, 8, 7, 6, 5, 4, 3, 2, 1).

  p Dit doe je bij elke speler.

  p Als laatste doe je dit ook bij jezelf. De 1<sup>ste</sup> open kaart bij jezelf heet "<b>de wilde kaart</b>".

  p &nbsp;

  p Het terugtellen van de kaarten gaat voor de rest hetzelfde als bij de andere spelers.

  p De rest van de stapel leg je blind op tafel met daarnaast 1 kaart omgedraaid, dus open.

  p &nbsp;

  p Het is de bedoeling dat setjes van 3 gelijken maakt, totdat al je kaarten op zijn.

  p De "wilde kaart" is 100 punten waard en kan gebruikt worden om bij een setje van 2 kaarten te doen. (Voorbeeld: je hebt 2 vieren, dan doe je de wilde kaart erbij (bijvoorbeeld een 8) en dan is je setje compleet en mag je op tafel). Je mag wel met 2 kaarten en 1 wilde uitkomen. Je mag ook als je 4 of 5 dezelfde kaarten hebt, hier 1 wilde bij leggen of mee uitkomen. Je kunt ook het setje kaarten splitsen als je 2 wilde kaarten hebt. Als je 3 gelijken hebt, mag je er later alsnog een wilde kaart bijleggen. Je mag nooit een setje maken van 3 "wilde" kaarten, dus ook niet 3 azen. Als je een "wilde kaart" wilt gebruiken moeten er altijd 2 andere kaarten bij.

  p Als de 1<sup>ste</sup> kaart die open ligt (naast de blinde stapel) een "wilde kaart" is, mag je die het hele spel door niet pakken.

  p &nbsp;

  p De speler links van de gever begint met het pakken van een kaart. Dit kan een dichte kaart zijn van de blinde stapel of de open kaart naast de stapel. Je mag echter alleen de open kaart pakken als je al 2 van dezelfde kaart in je handen hebt. Dus je bent verplicht hem meteen open op tafel te leggen met je 2 eigen kaarten erbij.

  p Als er al een reeks open kaarten op tafel liggen, mag je ook de reeks pakken tot en met de kaart die je wilt hebben. De laatste kaart die je pakt, moet dus dan meteen op tafel, maar de rest hoeft niet op tafel en mag je ook in je hand houden.

  p Als je klaar bent met setjes op tafel leggen of je kan niets doen, dan moet je 1 kaart naast de openkaart op tafel leggen zodat iedereen kan zien, wat die kaart is. De volgende speler kan dan weer kiezen of hij die kaart (en eventuele voorgaande open kaarten) oppakt of dat hij er 1 neemt van de blinde stapel.
  br
  | Als er al setjes kaarten op tafel liggen en je hebt dezelfde kaart in je hand, dan mag je die bij jezelf open op tafel leggen (dus dan hoef je niet je eigen setje te maken).

  p De speler die het eerst al zijn kaarten kwijt is heeft gewonnen.

  p &nbsp;

  p Nu worden de punten geteld van de kaarten die bij jezelf liggen. De punten van de kaarten die je nog in je hand hebt, moet je hiervan aftrekken.

  p Elk plaatje en de 10 = 10 punten waard.

  p Elke cijferkaart (behalve de 10) = 5 punten waard.

  p De aas = 100 punten waard.

  p Elke "wilde kaart" = 100 punten waard.

  p &nbsp;

  p De eerste persoon die 2000 punten heeft, heeft gewonnen. 

  hr

  a.btn.btn-primary(href='/game/add')
    span.glyphicon.glyphicon-plus
    | Start a new game &raquo;
  | &nbsp;
  a.btn.btn-default(href='/game')
    span.glyphicon.glyphicon-stats
    | View previous games &raquo;

