extends ../_layout

block content
  .page-header
    h3= t('game:rules.header.title')

  | !{t('game:rules.text',{postProcess:'multi-line-jade'})}

  hr

  a.btn.btn-primary(href='/game/add')
    span.glyphicon.glyphicon-plus
    span!= t('game:rules.add.text')
  | &nbsp;
  a.btn.btn-default(href='/game')
    span.glyphicon.glyphicon-stats
    span!= t('game:rules.view.text')
