footer
  .container.text-center
    p.pull-left &copy; 2014-#{new Date().getFullYear()} Jeroen van Warmerdam. All Rights Reserved
    ul.pull-right.list-inline
      li
        a(href='https://github.com/jerone/TweeDuizenden')= t('_footer:open_source')
      li
        a(href='https://github.com/jerone/TweeDuizenden/issues')= t('_footer:issues')
